.app {
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
}

.app-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
  vertical-align: middle;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-pages {
  position: absolute;
  z-index: 100;
  left: 2%;
  top: 0%;
  list-style: none;
  display: flex;
}

.app-pages a {
  text-decoration: none;
}

.made-with-react {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 10px;
}

.header-container,
.card-container,
.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-container {
  background: #fafafa;
  width: 40%;
  padding: 30px;
  position: relative;
}

.card-container,
.modal-container {
  width: 60%;
}

.header-container .header-content {
  display: flex;
  flex-direction: column;
}

.header-name {
  font-weight: 900;
  color: #4a4a4a;
}

.header-container .header-label {
  font-weight: 300;
}

.header-container .header-desc {
  font-weight: 200;
}

.skills-list {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
}

.chips {
  margin: 3px 5px 3px 0;
  color: white;
  padding: 9px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  border-radius: 2px;
}

.chips.blue {
  background: #3b80fe;
}

.chips.teal {
  background: #54e7c7;
}

.card-content {
  width: 100%;
}

.jobs-container {
  background: #54e7c7;
  color: #fafafa;
  width: 100%;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.jobs-current {
  font-size: 14px;
  font-weight: 300;
}

.jobs-flex div {
  font-weight: 400;
}

.job-summary {
  line-height: 1.5;
}

.job-highlights {
  list-style: none;
  font-weight: 200;
}

@media (min-width: 991px) {
  .card-container {
    overflow: auto;
  }

  .header-container,
  .card-container,
  .modal-container {
    height: 100vh;
  }

  .card-content {
    height: 100vh;
  }

  .bg-gray {
    background: #fafafa;
  }

  .down-here {
    display: none;
  }
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }

  .header-container,
  .card-container {
    width: 100vw;
  }

  .header-container {
    font-size: 24px;
    height: 100vh;
  }

  .modal-container {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
  }
}

@media (max-width: 450px) {
  .header-container {
    font-size: 18px;
  }

  .header-container .header-content {
    margin-top: -100px;
  }

  .header-container .skills-list .skills-chips {
    font-size: 12px;
    font-weight: bold;
    margin: 3px 5px 3px 0;
    padding: 9px;
  }
}

@media (min-width: 371px) {  
  .only-iphone-se {
    display: none;
  }
}

@media (max-width: 370px) {
  .app-pages{
    display: none;
  }

  .made-with-react .only-iphone-se {
    display: block;
  }
}
