.app {
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
}

.hero-link-container {}

.hero-link {}

.hero-logo {
  animation: hero-logo infinite 20s linear;
  height: 40px;
  vertical-align: middle;
}

.hero-text {
  font-weight: 700;
}

@keyframes hero-logo {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.nav-container  {
  position: absolute;
  z-index: 100;
  left: 50%;
  list-style: none;
  display: flex;
}

/*.nav-container  a {
  text-decoration: none;
}*/

.nav-btn {
  margin: 2px 4px 2px 0;
  padding: 8px;
  color: #fff;
  background: #3b80fe;
  border-radius: 2px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  text-decoration: none;
}

.nav {
  position: relative;
  top: 20px;
  left: -50%;
}

/*.made-with-react {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 10px;
}*/

.card-container,
.modal-container,
.skills-list-container,
.contact-container, 
.education-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal-container {
  padding: 20px;
  /*background-color: #ffab91;*/
}

.hero-container {
  background: #fafafa;
  width: 40%;
  padding: 30px;
  position: relative;
}

.contact-container {}
.contact-modal {}

.contact-header {
  color: #4a4a4a;
}

.card-container,
.modal-container {
  width: 60%;
}

/*.hero-container .hero-content {
  display: flex;
  flex-direction: column;
}*/

.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 20px);
  max-width: 360px;
  margin: 0 auto;
  padding: 20px;
  background: #fafafa;
  text-align: center;
}

.hero-header {
  font-weight: 900;
  color: #4a4a4a;
}

.hero-subheader {
  font-weight: 300;
}

@keyframes hero-arrow {
  from {
    opacity: 0.25;
    transform: scale3d(1, 1, 1);
  }

  50% {
    opacity: 1;
    transform: scale3d(1.15, 1.15, 1.15);
  }

  to {
    opacity: 0.25;
    transform: scale3d(1, 1, 1);
  }
}

.hero-arrow {
  position: absolute;
  left: calc(50% - 20px);
  bottom: 20px;
  font-size: 40px;
  animation-duration: 1.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: hero-arrow;
}

.skills-list-container {}

.skills-list-modal {}
.skills-list-header {
  color: #4a4a4a;
  text-align: center;
}

.skills-list {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
}

.skill {
  margin: 2px 4px 2px 0;
  color: #fff;
  padding: 8px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  background: #3b80fe;
}

.education-header {
  margin: 0 auto;
}

.education-text {
  text-align: center;
}

.education-subheader {
  margin-bottom: 20px;
}

.contact-header,
.education-header,
.skills-list-header,
.hero-header {
  margin-bottom: 20px;
}

/*
.chips {
  margin: 2px 4px 2px 0;
  color: white;
  padding: 8px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  border-radius: 2px;
}

.chips.blue {
  background: #3b80fe;
}

.chips.teal {
  background: #54e7c7;
}*/

.card-content {
  width: 100%;
}

.job-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  min-height: calc(100vh / 3);
  width: 100%;
  padding: 50px;
  color: #fafafa;
  background: #54e7c7;
}

.job-date {
  font-size: 14px;
  font-weight: 300;
}

.job-paragraph {
  font-style: italic;
}

/*
.jobs-main div {
  font-weight: 400;
}*/

.job-summary {
  line-height: 1.5;
}

/*.job-highlights {
  list-style: none;
  font-weight: 200;
}*/

@media (min-width: 991px) {
  .hero {
    width: 40%;
  }

  .hero-arrow {
    display: none;
  }

  .card-container {
    height: 100vh;
    overflow: auto;
  }

  .modal-container,
  .header-container {
    height: 100vh;
  }

  .modal-container {
    padding: 0;
  }

  .card-content {
    height: 100vh;
    overflow-y: auto;
  }

  .bg-gray {
    background: #fafafa;
  }

  .down-here {
    display: none;
  }

  .nav-container {
    left: 20%;
  }

  .education-container,
  .contact-container,
  .skills-list-container {
    width: 60%;
  }

  /*.skills-list-header {
    text-align: center;
  }*/
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }

  .header-container,
  .card-container {
    width: 100vw;
  }

  .header-container {
    font-size: 24px;
    /*height: 100vh;*/
    height: calc(100vh - 20px);
    text-align: center;
  }

  .modal-container,
  .skills-list-container,
  .education-container,
  .contact-container {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }

  .modal-content,
  .skills-list-modal,
  .education-modal,
  .contact-modal {
    background-color: #fefefe;
    margin: 0 auto;
    padding: 20px;
    width: calc(100% - 40px);
  }
}

@media (max-width: 450px) {
  .header-container {
    font-size: 18px;
  }

  .header-container .header-content {
    margin-top: -100px;
  }

  .header-container .skills-list .skills-chips {
    font-size: 12px;
    font-weight: bold;
    margin: 3px 5px 3px 0;
    padding: 9px;
  }
}

@media (min-width: 371px) {  
  .only-iphone-se {
    display: none;
  }
}

@media (max-width: 370px) {
  .nav-container {
    display: none;
  }

  .made-with-react .only-iphone-se {
    display: block;
  }
}
